<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Profile</title>
 <link rel="stylesheet" type= "text/css" href= "{{url_for('static', filename= 'css/app.css')}}">
</head>
<body>
    {% extends 'base.html' %}
    {% block main %}
    <div class = "wrapper">
        <div class = "top">
            <img src="{{url_for('static', filename='image.jpg')}}"/>
            <h1 class = "name">Kadian Davidson</h1>
            <p class = "email">@kadiiD</p>
            <p>Kingston, Jamaica</p>
            <p>{{ x }}</p>
        </div>
        <div class = "bottom">
            <p>I am second year student enrolled at the University of the West Indies. I am currently studing Computer Science, to pursue a career in Web Development. I love designing, editing and styling of web pages. My other hobbies include sewing, hand embroidery and making stuff out of jeans. I also love fruits, juice and ham.</p>
            <li class = "num">7<p>Post</p></li>
            <li class = "num">100<p>Following</p></li>
            <li class = "num">250<p>Followers</p></li>
            <p><button id = "btn">Follow</button></p>
        </div>
    </div>
    {% endblock %}
</body>
</html>